body {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  justify-content: center;
}

/* *{
  box-shadow: 0 0 0 3px red inset;
} */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  width: 98%;
  margin: auto;
}

main {
  width: 98%;
  margin: auto;
}

:root {
  --blue: #0065fc;
  --lightgrey: #f2f2f2;
  --lightblue: #deebff;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

nav a {
  padding: 0 3rem;
  font-size: 1.1rem;
  font-weight: 300;
}

nav a:hover {
  border-top: 3px solid var(--blue);
  padding-top: 15px;
}

.nav-item a:hover {
  color: var(--blue);
}

.logo {
  margin-right: auto;
  width: 60px;
}

.sub-nav ul {
  display: flex;
}

.title {
  font-size: 1.5rem;
  margin-top: 50px;
}

.sub-title {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 20px;
}

/* form search */

.contain-search {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 35px;
}

.icon-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: auto;
  background-color: var(--lightgrey);
  border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt {
  font-size: 17px;
}

.search-input {
  padding: 0 0 0 20px;
  height: 50px;
  width: 220px;
  border: none;
  border-top: solid 1px var(--lightgrey);
  border-bottom: solid 1px var(--lightgrey);
}

.search-input::-webkit-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.search-input::-moz-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.search-input:-ms-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.search-input::-ms-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.search-input::placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
button {
  padding: 0;
  border: none;
}
#button-search {
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: var(--blue);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;
}

#button-search:hover {
  background-color: #003c96;
  transition: ease 0.3s;
}
#mobile {
  display: none;
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: var(--blue);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;
}
/* filters */

.filter {
  display: flex;
  align-items: center;
  margin: 5px;
  flex-wrap: wrap;
}

.filter-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 10px;
}

.filter-list span {
  font-weight: bold;
}

.filter-list {
  border: 2px solid var(--lightgrey);
  border-radius: 30px;
  padding: 13px;
  width: auto;
  margin-right: 20px;
  text-align: center;
}

.filtre-icone {
  color: var(--blue);
  padding-right: 5px;
}

.filter-list:hover {
  background-color: var(--lightblue);
}

.info .fas {
  color: var(--blue);
  font-size: 14px;
  padding: 7px 11px 7px 11px;
  border: solid 1px var(--lightgrey);
  border-radius: 2000px;
  margin-right: 10px;
}

.info {
  margin: 20px 0 50px 0;
  display: flex;
  align-items: baseline;
}

/* hebergement */
.hebergement {
  margin: 0 0 40px 0;
  background-color: var(--lightgrey);
  flex-basis: 66%;
  border-radius: 20px;
}

.hebergement h2 {
  width: 91%;
  margin: 50px 0 0 50px;
}
.hebergement-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.show-more-container {
  margin-bottom: 40px;
}
.hebergement-card {
  width: 27%;
  height: auto;
  border: 1px solid transparent;
  padding: 4px 4px 10px 4px;
  margin: 15px;
  text-align: left;
  border-radius: 23px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.hebergement-card img {
  border-radius: 17px 17px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 120px;
}

.hebergement-card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: white;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 10px 10px;
}

.card-subtitle {
  font-size: 1rem;
  padding: 0 0 10px 10px;
  margin: 0;
}
/* color star icone */
.card-star {
  color: var(--blue);
  font-size: 0.7em;
  padding: 0 0 10px 10px;
}

.grey {
  color: var(--lightgrey);
}

.show-more {
  font-weight: bold;
  margin: 10px 0 50px 50px;
  font-size: 1.2rem;
  width: 100%;
}

.contain-appart {
  display: flex;
}

/*populaire*/

.populaire-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 55px 50px 0px 50px;
}

.populaire-title {
  padding-bottom: 10px;
}

.populaires {
  margin: 0 0 40px 30px;
  background-color: var(--lightgrey);
  flex-basis: 33%;
  border-radius: 20px;
}

#populaire {
  margin-bottom: 47px;
}

.fa-chart-line {
  color: var(--blue);
  font-size: 1.3rem;
}

.populaire-contain-card {
  background: #fff;
  border-radius: 20px;
  padding: 3px;
  display: flex;
  margin: 0 auto 40px;
  width: 80%;
  height: 125px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.populaire-contain-card a {
  display: flex;
}

.populaire-contain-card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: white;
}

.populaire-card {
  width: 150px;
  height: auto;
  overflow: hidden;
}

.populaire-card.card-star {
  margin-top: auto;
}

.populaire-card img {
  border-radius: 20px 0px 0px 20px;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  -o-object-position: top;
  object-position: top;
}

.populaire-info-contain {
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}

.contain-populaire {
  display: flex;
  flex-direction: column;
}

.populaire-description {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
  padding-left: 10px;
}
.populaire-info h3 {
  padding: 5px 0 10px 0;
}

.populaire-info p,
.populaire-info h3 {
  font-size: 1rem;
  margin: 0;
}
/* activte*/
.activite-title {
  margin-left: 20px;
}
.contain-activities {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card-activities:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: white;
}

.card-activities {
  width: 25%;
  height: 100%;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 30px rgb(211, 211, 211);
  gap: 10px;
}

.card-activities img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 400px;
  border-radius: 20px 20px 0 0;
}

.activities-title {
  font-size: 1em;
  padding: 10px;
}
/* footer */
footer {
  width: 100%;
  margin: auto;
}
.footer-color {
  background-color: var(--lightgrey);
  display: flex;
  justify-content: space-around;
}
.info-footer {
  padding: 20px 0 20px 20px;
}

.info-footer h3 {
  font-size: 1.2rem;
  padding: 0 0 10px 0;
}
.link-footer {
  padding-bottom: 6px;
}

/* tablette */

@media screen and (max-width: 1157px) {
  .populaire-description p,
  .populaire-description h3,
  .hebergement-card p,
  .hebergement-card h3 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .filter-title {
    font-size: 1rem;
    margin-right: 5px;
  }

  .filter-list {
    width: auto;
  }
  .contain-appart {
    flex-direction: column;
  }
  .populaires {
    flex-basis: 100%;
    margin: 0 0 100px 0;
  }

  .populaire-title {
    padding: 30px 20px 0px 20px;
  }
  .populaire-tablette {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .populaire-contain-card {
    width: 30%;
    min-width: 236px;
  }
  .populaire-description p,
  .populaire-description h3 {
    font-size: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0;
  }
  .contain-activities {
    padding-top: 20px;
  }
  .card-activities img {
    height: 200px;
  }

  .activities-title {
    font-size: 0.9em;
    padding: 0 5px;
  }
  .card-activities {
    height: auto;
    width: 100%;
  }

  .hebergement {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 930px) {
  .filter {
    flex-wrap: nowrap;
  }

  #dog {
    width: 180px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .sub-nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid var(--lightgrey);
    padding-bottom: 10px;
  }

  .sub-nav a:hover {
    border-color: var(--blue);
    border-top-color: transparent;
  }

  nav {
    justify-content: center;
    width: 100%;
  }

  .populaires {
    border-radius: 0;
  }

  .show-more {
    display: none;
  }
  .search-input {
    padding: 0 10px;
    border-top: solid 2px var(--lightgrey);
    border-bottom: solid 2px var(--lightgrey);
  }
  .contain-appart {
    flex-direction: column-reverse;
  }
  #button-search {
    display: none;
  }

  #mobile {
    display: initial;
  }

  .icon-localisation {
    width: 80px;
  }
  .logo {
    margin: auto;
    margin-bottom: 50px;
  }

  .filter-title {
    width: 100%;
  }

  .filter {
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-list {
    font-size: 0.8rem;
    width: 42%;
    margin-bottom: 10px;
    text-align: left;
  }
  .title {
    text-align: center;
    font-size: 1.3rem;
  }

  .sub-title {
    text-align: center;
  }

  .contain-search {
    margin: 30px auto 35px;
    padding: 0 10px 0 10px;
  }

  .contain-activities {
    flex-direction: column;
    gap: 30px;
    margin: 0 15px;
  }
  .card-activities {
    width: 100%;
    margin-bottom: 20px;
  }
  .populaire-contain-card {
    width: 90%;
  }
  .populaires {
    margin-bottom: 50px;
  }
  .hebergement {
    background-color: #fff;
    border-radius: 0;
  }
  .hebergement h2 {
    margin: 0;
    width: 100%;
  }
  .hebergement-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-color {
    flex-direction: column;
  }
  .info-footer {
    padding: 20px;
  }
  .populaire-tablette {
    flex-direction: column;
  }
  .hebergement h2 {
    margin-left: 15px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 376px) {
  .filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  nav a {
    padding: 0 2rem;
  }

}