body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

ul li {
  list-style: none;
}

img {
    width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top:25px;
}

nav a {
  padding: 0 3rem;
  font-size: 1.1rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  border-top: 3px solid  #0065FC;
  padding-top: 20px;
}

.nav-item a:hover {
  color:  #0065FC;

}

.logo {
  margin-right: auto;
  width: 60px;
}

.sub-nav ul  {
  display: flex;
}

.title {
  font-size: 1.5rem;
  margin-top: 50px;
}

.sub-title {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 20px;
}
