body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

:root {
  --blue: #0065FC;
  --lightgrey: #F2F2F2;
  --lightblue: #DEEBFF;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

nav a {
  padding: 0 3rem;
  font-size: 1.1rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  border-top: 3px solid var(--blue);
  padding-top: 20px;
}

.nav-item a:hover {
  color: var(--blue);

}

.logo {
  margin-right: auto;
  width: 60px;
}

.sub-nav ul {
  display: flex;
}

.title {
  font-size: 1.5rem;
  margin-top: 50px;
}

.sub-title {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 20px;
}

/* form search */

.contain-search {
  display: inline-flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 35px;
}

.icon-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: auto;
  background-color: var(--lightgrey);
  border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt {
  font-size: 17px;
}

.search-input {
  padding: 0 0 0 20px;
  height: 50px;
  width: 220px;
  border: none;
  border-top: solid 1px var(--lightgrey);
  border-bottom: solid 1px var(--lightgrey);
}

.search-input::placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.button-search {
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: var(--blue);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;
}

.button-search:hover {
  background-color: #003c96;
  transition: ease 0.3s;
}

/* filters */

.filter {
  display: flex;
  align-items: center;
  margin: 5px;
  flex-wrap: wrap;
}

.filter-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 10px;
}

.filter-list span {
  font-weight: bold;
}

.filter-list {
  border: 2px solid var(--lightgrey);
  border-radius: 30px;
  padding: 13px;
  width: 150px;
  margin-right: 20px;
  text-align: center;
}

.filter-dog {
  border: 2px solid var(--lightgrey);
  border-radius: 30px;
  padding: 13px;
  width: 200px;
  margin-right: 20px;
  font-weight: bold;
  text-align: center;
}

.filtre-icone {
  color: var(--blue);
  padding-right: 5px;
}

.filter-list:hover {
  background-color: var(--lightblue);
}

.filter-dog:hover {
  background-color: var(--lightblue);
}

.info .fas {
  color: #0065fc;
  font-size: 14px;
  padding: 7px 11px 7px 11px;
  border: solid 1px #D9D9D9;
  border-radius: 2000px;
  margin-right: 10px 4px;

}

.info {
margin-top: 10px;
}
